.card-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.card-form__input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.card-form__details-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  & > .card-form__input-group > .input {
    width: 100%;
  }
}

.card-form__expiration-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.card-form__expiration-inputs {
  display: flex;
  gap: 0.5rem;
  & > .input {
    width: 4rem;
  }
}

.label {
  text-transform: uppercase;
  font-size: medium;
  color: var(--clr-very-dark-violet);
}

.input {
  padding: 0.5rem 0.75rem;
  border-style: solid;
  border-width: 0.075rem;
  border-color: var(--clr-light-grayish-violet);
  border-radius: 0.5rem;

  &::placeholder {
    color: var(--clr-dark-grayish-violet);
    opacity: 0.5;
  }

  &:focus {
    border-color: var(--clr-very-dark-violet);
    outline: none;
  }
}

.input--error {
}

.label {
}

.error__messaje {
}
