.main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main--background {
  background-image: var(--bg-main-mobile);
  background-size: contain;
  background-repeat: no-repeat;
}
.main__form {
  align-self: center;
  justify-self: end;
}

@media (min-width: 456px) {
  .main {
    flex-direction: row;
  }
  .background {
    background-image: var(--bg-main-desktop);
  }
}
