.main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.main--background {
  background-image: var(--bg-main-mobile);
  background-size: contain;
  background-repeat: no-repeat;
}
.main__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.main__thankyou-wrap {
  width: 100%;
  padding: 1.5rem;
  align-self: center;
}

@media (min-width: 456px) {
  .main {
    flex-direction: row;
  }
  .background {
    background-image: var(--bg-main-desktop);
  }
}
